<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Создать записку</title>
</head>
<body>
    <h1>Создать записку</h1>
    <form action="{{ url_for('user.create') }}" method="POST">
        {{ form.hidden_tag() }}
        <div>
            {{ form.text.label }}
            {{ form.text() }}
        </div>
        <div>
            {{ form.password.label }}
            {{ form.password }}
        </div>
        <div>
            {{ form.date_remove.label }} (не больше 10)
            {{ form.date_remove() }}
        </div>
        <div>
            {{ form.submit() }}
        </div>
    </form>
</body>
</html>
